@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans !important;
  }
  body {
    @apply font-sans bg-[#F5F5F5] text-[#1A1A1A] scroll-smooth;
  }
}

@layer utilities {
  .bg-blood-red {
    background-color: #b71c1c;
  }
  .text-blood-red {
    color: #b71c1c;
  }
  .border-blood-red {
    border-color: #b71c1c;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
}
